<form class="container"action="/reset" method="post">
    email: <input class="form-control mt-2" type="email" name="email" value={{email}}><br>
    New Password : <input class="form-control mt-2" required type="password" name="new_password" value={{new_password}}><br>
    <button class="btn-lg btn btn-block btn-danger"type="submit">reset</button>
</form>
