<form class="container"action="/register" method="post">
    name :<input class="form-control mt-2" type="text" name="name" value={{name}}><br>
    email: <input class="form-control mt-2" type="email" name="email" value={{email}}><br>
    password: <input class="form-control mt-2" type="password" required name="password" value={{password}}><br>
    conform Password : <input class="form-control mt-2" type="password" name="password2" value={{password2}}><br>
    <button class="btn btn-lg btn-block btn-success"type="submit">Register</button>
</form>